@import "./font.scss";
@import "./spacing.scss";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", " sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  // overflow: hidden;
  box-sizing: border-box;
  color: #000;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

.App {
  height: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.error {
  color: red !important;
}

/* custom toastify */
.Toastify__toast {
  border-radius: 6px;
  padding: 8px 10px;
  min-height: 50px;
}

.Toastify__toast--error {
  background: #e74c3c;
  border: 1px solid #b14747;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}
